<footer>
  <nav class="nav">
    <a href="/" aria-label="Goto Top Page" class="link">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        enable-background="new 0 0 24 24"
        viewBox="0 0 24 24"
        id="information"
      >
        <g>
          <path
            d="M6.2578,21.293c1.8779,0.4697,3.8096,0.7046,5.7422,0.7041c1.9316,0,3.8643-0.2344,5.7422-0.7041
				c1.752-0.4375,3.1133-1.7974,3.5508-3.5503c0.9395-3.7568,0.9395-7.7285,0-11.4858c-0.4375-1.752-1.7988-3.1123-3.5508-3.5498
				c-3.7549-0.9395-7.7275-0.9395-11.4844,0C4.5059,3.1445,3.1445,4.5044,2.707,6.2573c-0.9395,3.7568-0.9395,7.7285,0,11.4858
				C3.1445,19.4956,4.5059,20.8555,6.2578,21.293z M4.6465,6.7422C4.9053,5.708,5.708,4.9058,6.7422,4.6475
				C8.4619,4.2173,10.2314,4.0024,12,4.0024s3.5381,0.2148,5.2578,0.645c1.0342,0.2583,1.8369,1.0605,2.0957,2.0942
				c0.8594,3.4399,0.8594,7.0767,0,10.5161c-0.2588,1.0342-1.0615,1.8364-2.0957,2.0947c-3.4395,0.8604-7.0762,0.8604-10.5156,0
				c-1.0342-0.2583-1.8369-1.0605-2.0957-2.0942C3.7871,13.8184,3.7871,10.1816,4.6465,6.7422z"
          >
          </path><circle cx="12" cy="7.5" r="1.5"></circle><path
            d="M10,17c0,0.5522,0.4473,1,1,1h2c0.5527,0,1-0.4478,1-1s-0.4473-1-1-1v-4c0.5527,0,1-0.4478,1-1s-0.4473-1-1-1h-2
				c-0.5527,0-1,0.4478-1,1s0.4473,1,1,1v4C10.4473,16,10,16.4478,10,17z"
          >
          </path>
        </g>
      </svg>
    </a>

    <a href="/gacha" aria-label="Goto Gacha Page" class="link">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        enable-background="new 0 0 24 24"
        viewBox="0 0 24 24"
        id="cards"
        class="icon"
      >
        <g>
          <path
            d="M21.3828,6.0557c-1.4139-0.8235-2.9651-1.3417-4.6039-1.5532c-0.5294-0.6194-1.2217-1.054-2.0104-1.2203
				c-1.748-0.375-3.791-0.374-5.5352-0.001C8.4429,3.4484,7.7502,3.8832,7.2207,4.5024C5.5792,4.7151,4.0299,5.2328,2.623,6.0518
				C1.5781,6.6504,0.9297,7.792,0.9297,9.0303c0,0.2158,0.0254,0.4463,0.0703,0.6973c0.6484,3.2227,1.7002,6.3916,3.1279,9.4229
				c0.5801,1.2148,1.8018,2,3.1123,2c0.1182,0,0.2373-0.0107,0.3916-0.0283c0.6204-0.0764,1.2379-0.2034,1.843-0.3642
				c0.8381,0.1584,1.6814,0.246,2.5251,0.246c0.8439,0,1.6874-0.087,2.5257-0.246c0.6057,0.1609,1.2258,0.2883,1.8776,0.3681
				c0.1191,0.0137,0.2383,0.0244,0.3564,0.0244c1.3105,0,2.5322-0.7852,3.1143-2.0049c1.4258-3.0264,2.4775-6.1953,3.1299-9.4395
				c0.041-0.2295,0.0664-0.46,0.0664-0.6758C23.0703,7.792,22.4219,6.6504,21.3828,6.0557z M5.9346,18.2939
				c-1.3564-2.8809-2.3574-5.8965-2.9697-8.9395C2.9453,9.2441,2.9297,9.1348,2.9297,9.0303c0-0.5234,0.2637-1,0.6934-1.2461
				c0.8398-0.4883,1.7363-0.8516,2.6807-1.085c-0.0653,0.5476-0.1028,1.1169-0.1471,1.681C6.1338,8.6708,6.0981,8.9512,6.0809,9.2455
				C6.0281,10.149,6,11.0684,6,12c0,1.8965,0.1104,3.748,0.3281,5.5068c0.0335,0.2618,0.1016,0.5112,0.1841,0.7537
				c0.0213,0.0624,0.044,0.1227,0.0683,0.1837c0.0873,0.2192,0.1893,0.4301,0.3132,0.6266c0.008,0.0127,0.0121,0.028,0.0203,0.0405
				C6.4951,19.0098,6.1357,18.7139,5.9346,18.2939z M9.6436,18.7607c-0.0051-0.001-0.0103-0.0016-0.0153-0.0026
				c-0.1028-0.0228-0.1939-0.0723-0.2886-0.114c-0.0668-0.0294-0.1392-0.0472-0.2012-0.0851
				c-0.0886-0.0543-0.1616-0.1297-0.2389-0.1996c-0.0508-0.046-0.1099-0.0817-0.1552-0.1338
				c-0.0779-0.0895-0.1348-0.1967-0.1942-0.3016c-0.0277-0.049-0.0663-0.0899-0.0895-0.1418
				c-0.0732-0.1633-0.1245-0.3398-0.1481-0.5253C8.1055,15.583,8,13.8145,8,12s0.1055-3.583,0.3135-5.2646
				c0.0313-0.2646,0.1221-0.5205,0.2656-0.7402c0.0005-0.0007,0.0007-0.0016,0.0012-0.0024C8.837,5.5981,9.2164,5.329,9.6494,5.2373
				c1.4746-0.3145,3.2246-0.3154,4.7031,0.001c0.4316,0.0908,0.8115,0.3604,1.0684,0.7568c0.1436,0.2197,0.2344,0.4756,0.2666,0.748
				C15.8945,8.417,16,10.1855,16,12s-0.1055,3.583-0.3125,5.2529c-0.0237,0.1863-0.0749,0.3633-0.148,0.527
				c-0.0245,0.0547-0.0646,0.098-0.094,0.1495c-0.0583,0.1023-0.1135,0.2074-0.1894,0.2949c-0.0466,0.0536-0.1071,0.0908-0.1595,0.138
				c-0.0759,0.0684-0.1473,0.1424-0.2339,0.1957c-0.0655,0.0402-0.1418,0.0595-0.2126,0.0901
				c-0.0912,0.0395-0.1785,0.0875-0.2773,0.1096c-0.0054,0.001-0.0107,0.002-0.0162,0.0029
				C12.7939,19.085,11.2061,19.085,9.6436,18.7607z M21.0391,9.333c-0.6162,3.0645-1.6172,6.0801-2.9717,8.9561
				c-0.2031,0.4248-0.5635,0.7207-0.9814,0.8223c0.01-0.0155,0.0151-0.0342,0.0248-0.0498c0.1214-0.1938,0.2218-0.4012,0.3078-0.6171
				c0.0247-0.062,0.0479-0.1235,0.0695-0.1872c0.0825-0.2427,0.1503-0.4922,0.1838-0.7543C17.8896,15.748,18,13.8965,18,12
				c0-0.9304-0.028-1.8491-0.0807-2.751C17.901,8.9362,17.8635,8.639,17.839,8.3308c-0.0436-0.5474-0.0795-1.1013-0.1427-1.6316
				c0.9443,0.2334,1.8428,0.5967,2.6865,1.0889c0.4238,0.2422,0.6875,0.7188,0.6875,1.2422
				C21.0703,9.1348,21.0547,9.2441,21.0391,9.333z"
          >
          </path><path
            d="M13.9294,12.8845l0.8439-0.8539c0.444-0.4493,0.199-1.2322-0.4146-1.3248L13.1924,10.53l-0.5215-1.097
				c-0.2745-0.5773-1.0674-0.5773-1.3418,0l-0.5215,1.097l-1.1662,0.1759c-0.6136,0.0926-0.8586,0.8754-0.4146,1.3248l0.8439,0.8539
				l-0.1992,1.2058c-0.1048,0.6345,0.5367,1.1183,1.0855,0.8187L12,14.3398l1.0431,0.5693c0.5488,0.2996,1.1903-0.1843,1.0855-0.8187
				L13.9294,12.8845z"
          >
          </path>
        </g>
      </svg>
    </a>
  </nav>
</footer>

<style scoped lang="scss">
  .nav {
    position: sticky;
    bottom: 0;
    display: flex;
    height: 48px;
    border-top: 2px solid $outline-variant;
  }

  .link {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;

    &:hover {
      background-color: rgba(black, 0.04);
    }

    &:active {
      background-color: rgba(black, 0.08);
    }
  }

  .icon {
    width: 32px;
    height: 32px;
  }
</style>
