<script>
  // const header = document.querySelector('.header');
  // const layoutHeader = document.querySelector('#layout-header');

  // window.addEventListener('scroll', () => {
  // 	if (window.scrollY > 0) {
  // 		header.style.backgroundColor = 'rgba(0, 0, 0, 0.8)';
  // 	} else {
  // 		header.style.backgroundColor = 'transparent';
  // 	}
  // });

  // layoutHeader.addEventListener('click', () => {
  // 	window.scrollTo({
  // 		top: 0,
  // 		behavior: 'smooth',
  // 	});
  // });
</script>

<header class="header" id="layout-header">
  <h1 class="batfull">Batfull</h1>

  <nav class="nav">
    <div class="avatar">
      <img
        src="https://avatars.githubusercontent.com/u/47259774?v=4"
        alt="avatar"
      />
    </div>
  </nav>
</header>

<style scoped lang="scss">
  .header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
  }

  .h1 {
    height: 40px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
  }
</style>
